<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Open Restaurant Inventories screen</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
| <a th:href="@{/}">Home</a> | <a th:href="@{/inventory}">Add New Inventory</a> |
<h2>Inventories</h2>
<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="inventory : ${inventories}">
            <td th:text="${inventory.inventoryId}">Id</td>
            <td><a th:href="@{'/inventory/' + ${inventory.inventoryId}}" th:text="${inventory.itemName}"></a></td>
            <td th:text="${inventory.quantity}">Quantity</td>
            <td th:text="${inventory.price}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${inventory.inventoryId}}">Edit</a> |
                <a th:href="@{'/delete/' + ${inventory.inventoryId}}">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>